*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Kedebideri", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body{
    background-image: url(blurred-background-vibrant-campus-scene-600nw-2527446029.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    justify-content: space-evenly;
}

#div1{
    background-image: url(image.png);
    width: 400px;
    height: 400px;
    position: relative;
    top: 550px;
    display: flexbox;
    border-radius: 50%;
    justify-content: space-around;
    background-position: center;
}

#div2{
    background-image: url(image2.png);
    width: 400px;
    height: 400px;
    position: relative;
    top: 140px;
    left: 550px;
    justify-content: space-evenly;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50%;
    background-position: center;
}

#div3{
   background-image: url(image3.png);
    width: 400px;
    height: 400px;
    float: right;
    clear: right;
    position: relative;
    bottom: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50%;
    background-position: center; 
}

#logo , img{
box-sizing: border-box;
width: fit-content;
height:70px;
position: relative;
right: 130px;
}

#header{
    width: 100%;
    background-color: #121212;
    height: 70px;
    display: flex;
}

#header,ul{
    display: flex;
    gap: 4em;
    text-transform: uppercase;
}

#header,ul,li{
    display: flex;
    gap: 4em;
    justify-content: center;
    font-size: 1.1rem;
}

#ul,li{
    position: relative;
    top: 20px;
}

#button{
    background-color:#121212;
    width: 250px;
    border-radius: 20px;
    border-color: white;
    box-shadow:  0px 11px 10px 0px olive;
    height: 50px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 200px;
    left: 650px;
}

#hero{
font-size: 3rem;
text-align: center;
position: relative;
top: 100px;
}