#logo , img{
box-sizing: border-box;
width: fit-content;
height:70px;
position: relative;
right: 115px;
}



#header{
    width: 100%;
    background-color: #121212;
    height: 70px;
    display: flex;
}

#header,ul{
    display: flex;
    gap: 4em;
    text-transform: uppercase;
}

#header,ul,li{
    display: flex;
    gap: 4em;
    justify-content: center;
    font-size: 1.1rem;
}

#ul,li{
    position: relative;
    top: 20px;
}
